html {
	font-family:Verdana, Arial, Helvetica, Sans Serif;			
	height:100%;		
}

body {
	margin:0px;
	background:url(../img/bg.png) repeat;
	height:100%;		
	text-align:left;
}

div.container {
	background:white;
	width:900px;
	min-height:700px;	
	padding-left:10px;
	padding-right:10px;
	border:4px solid #C7F66F;
	border-top:none;
	
}

#pagination a {
	color:#E768AD;
	text-decoration:underline;	
}

.row1 {
	background:#E0F5BA;
}

h1 {
	color:#E768AD;
}

h2 {
	color:#E768AD;
}

	h2 a {
		color:#84B22D;
	}

div.linkbox {
	padding:10px;
	border-bottom:1px solid #84B22D;
}
	div.linkbox  a {
		color:#E73A98;
	}

div.topheader {
	background:#FFFFFF;
	position:relative;
}

div.loginbox {
	float:right;
	border:1px dashed gray;
	margin:5px;
	width:200px;
	height:100px;
	padding:5px;
}

a {	
	text-decoration:none;
	color:#444444;
}

a:hover
{
	color:#66FF99;
}

table.browse
{
	width:850px;
}

table.browse th
{
	text-align:left;
}


