body, html {
	font-family:Verdana;	
	background:#FFFFFF;
	margin-top:0px;

}

h1 {
	color:#00CC99;
}

h2 {
	color:#00CC99;
}

div.linkbox {
	padding:10px;
	border:2px solid #88BB88;
}

div.topheader {
	background:#FFFFFF;
}

a {	
	text-decoration:none;
	color:#888888;
}

a:hover
{
	color:#66FF99;
}

table.browse
{
	width:850px;
}

table.browse th
{
	text-align:left;
}


